# Copier ce fichier en .env et remplir les valeurs

SECRET_KEY=change-me-in-production

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DATABASE_URL=postgres://palmares_user:palmares_pass@db:5432/palmares_db
POSTGRES_DB=palmares_db
POSTGRES_USER=palmares_user
POSTGRES_PASSWORD=palmares_pass

# Redis / Celery
REDIS_URL=redis://redis:6379/0
